<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "false"
    bootstrap                   = "bootstrap.php" >

    <testsuites>
        <testsuite name="AlphaLemonCmsBundle Test Suite">
            <directory>../vendor/alphalemon/alphalemon-bootstrap-bundle/AlphaLemon/BootstrapBundle/Tests</directory>
            <directory>../vendor/alphalemon/alphalemon-cms-bundle/AlphaLemon/AlphaLemonCmsBundle/Tests</directory>
            <directory>../vendor/alphalemon/alphalemon-cms-bundle/AlphaLemon/AlphaLemonCmsBundle/Bundle/AlphaLemon/Block/*/Tests</directory>
            <directory>../vendor/alphalemon/theme-engine-bundle/AlphaLemon/ThemeEngineBundle/Tests/Unit</directory>
            <directory>../vendor/alphalemon/app-business-carousel-bundle/AlphaLemon/Block/BusinessCarouselBundle/Tests</directory>
            <directory>../vendor/alphalemon/app-business-dropcap-bundle/AlphaLemon/Block/BusinessDropCapBundle/Tests</directory>
            <directory>../vendor/alphalemon/app-business-menu-bundle/AlphaLemon/Block/BusinessMenuBundle/Tests</directory>
            <directory>../vendor/alphalemon/app-business-slider-bundle/AlphaLemon/Block/BusinessSliderBundle/Tests</directory>
        </testsuite>
    </testsuites>


    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <directory>../src/*/*Bundle/Resources</directory>
                <directory>../src/*/*Bundle/Tests</directory>
                <directory>../src/*/Bundle/*Bundle/Resources</directory>
                <directory>../src/*/Bundle/*Bundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
